.imageBox {
    position: relative;
    margin: 40px auto;
    border-radius: 4px;
    overflow: hidden;
}

.imageBox h3
{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    transform: translate(-50%);
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.imageBox ul{
    position: absolute;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: flex;
    background: rgba(0,0,0,.2);
    transform: translateY (50px);
    transition: .5s;
}

.imageBox:horizontal ul{
    transform: translate(-60px);
}

.imageBox ul li{
    list-style: none;
    width: 20%;
    box-sizing: border-box;
}

.imageBox ul li a {
    color: #fff;
    font-size: 20px;
    margin: 10px;
    display: inline-block;
}

.imageBox ul li: hover:nth-child(1)
{
    background: #3b5999;
}
